{% extends 'base.html' %}

{% block title %} Candidate Profile {% endblock -%}

{% block content_title %} Profile {% endblock -%}

{% block content -%}
    <div style="width: 50%; margin: 30px">
        <div style="padding: 10px; margin: 20px">
            <img src="{{ candidate.picture }}">
        </div>

        <div style="padding: 10px; background-color: #e6f9ff; margin: 20px">
            <p style="font-size: 18px">Имя: {{ candidate.name }}</p>
            <p style="font-size: 18px">Позиция: {{ candidate.position }}</p>
            <p style="font-size: 18px">Навыки: {{ candidate.skills }}</p>
        </div>
    </div>
{% endblock -%}
